fastapi
uvicorn
sqlalchemy
alembic
databases[aiosqlite]
pydantic[email]
python-jose[cryptography]
python-multipart
passlib[bcrypt]
celery
redis
watchfiles
python-dotenv
pytest
httpx
pytest-asyncio
pytest-cov
ipython
